# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

rag-frontend/node_modules
rag-frontend/dist
rag-frontend/dist-ssr
rag-frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

rag-frontend/.vscode/*
rag-frontend/!.vscode/extensions.json
rag-frontend/.idea
rag-frontend/.DS_Store
rag-frontend/*.suo
rag-frontend/*.ntvs*
rag-frontend/*.njsproj
rag-frontend/*.sln
rag-frontend/*.sw?

rag-frontend/package.lock
rag-frontend/node_modules
__pycache__/*

processed_docs/*

*.pdf